<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamro Rooms - Suniel Sharma</title>
    <link rel="stylesheet" href="/CSS/style.css">
    {{!-- fontawesome cdn link --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        {{!-- media queries --}}
        <link rel="stylesheet" href="/CSS/mediaQueries.css">
</head>

<body>
    <div class="header_and_nav">
       {{!-- navbar --}}
        {{>navbar}}
            

        <header class="main_header container">
            <div class="left_header">


                <div class="circleimg">
                    <img src="/img/circle.png" alt="">
                    <span class="head_Para">HAMRO ROOMS - BOUND BY LOVE ADN TRUST.</span>

                </div>

                <h1>We Help You To Find <br> Your Dream <span class="changeColorspan">Rooms.</span> </h1>
                <p>Unlock the door to a world of comfort and convenience with Hamro Rooms, the ultimate online destination for effortlessly finding your perfect room.</p>

                <div class="btn_section">

                    <div class="btn">
                      <a href="/roomslist">  <button>See All Rooms</button></a>
        
                    </div>
                    <div class="vdoicon">
                        <a href=""><img src="/img/vdoicon.png" alt=""></a>
                        <p class="para">How We Work </p>
                        
                    </div>
                </div>

            </div>

            <div class="middele_header">
                <img src="/img/arrow.png" alt="">
            </div>



            <div class="right_header">
                {{!-- <img src="/img/right_img.png" alt="images"> --}}
                <img src="/img/rooms.svg" alt="">          
       


            </div>
        </header>
    </div>







    {{!-- ***********our services section*********** --}}

    <section class="services_section container">


        <div class="services_paragraph">
            <h2 class="heading">Explore Our Services</h2>
        </div>

        <div class="heading services_paragraph">

            <div class="curve_arrow">
                <img src="/img/curvearrow.png" alt="">
            </div>

            <div class="content">
                <h4>We Promise Providing <span class="services_Span">Best Services</span></h4>

                <p>Harmo Rooms offers a seamless experience, bridging the gap between <br> room finding, hostels finding, and hotels finding, ensuring a hassle-free journey to <br> your ideal accommodation.</p>
            </div>




        </div>
        {{!-- our services card section --}}

       

        <div class="cards">

            <div class="cards_child child1">

                {{!-- small card half cirlcle 3 --}}
                <div class="left_small_card1">
                    <h1>01</h1>
                </div>

                {{!-- <img src="/img/rooms.png" alt="rooms_icon"> --}}
                <img src="/img/rooms.svg" alt="rooms">
                              
                <h5>Want a Room</h5>
                <p>Discover your dream room with our efficient and personalized services.</p>

                 <a href="/roomslist"><button class="btm1">See all Rooms</button></a>

                  {{!-- for cirlce + icon--}}
                {{!-- <div class="card_circle1">
                    <i class="fa-solid fa-plus"></i>
                 <button class="card_btn">see all details</button>
                </div> --}}

            </div>

            <div class="cards_child child2">

                {{!-- small card half cirlcle 2 --}}
                <div class="left_small_card2">
                    <h1>02</h1>
                </div>

                {{!-- <img src="/img/rooms2.png" alt="rooms_icon"> --}}
                <img src="/img/hostel.svg" alt="rooms">
                <h5>Want a Hostel</h5>
                <p>Find your ideal hostel with our convenient and reliable services.</p>

              <a href="/roomslist"><button class="btm2">See all Hostel</button></a>

                {{!-- for cirlce + icon--}}
                {{!-- <div class="card_circle2">
                    <i class="fa-solid fa-plus"></i>
                    <button class="card_btn card_btn2">see all details</button>
                </div> --}}

            </div>

            <div class="cards_child child3">

                {{!-- small card half cirlcle 3 --}}
                <div class="left_small_card3">
                    <h1>03</h1>
                </div>



                {{!-- <img src="/img/rooms.png" alt="rooms_icon"> --}}
                <img src="/img/hotels.svg" alt="rooms">
                <h5>Want a Hotel</h5>
                <p>Experience luxury and comfort with our exceptional hotel-finding services.</p>

                 <a href="/roomslist"><button class="btm3">See all Hotels</button></a>

                 {{!-- for cirlce + icon--}}
                {{!-- <div class="card_circle3">
                    <i class="fa-solid fa-plus"></i>
                    <button class="card_btn card_btn3">see all details</button>
                </div> --}}
            </div>

        </div>

        <div class="dotdotimg">
            <img src="/img/dotdot.png" alt="image">
        </div>


        <div class="halfcirlcle">
            <img src="/img/halfcircle.png" alt="">
        </div>

    </section>


    {{!-- *********************why choose section********************* --}}

    <section class="why_choose_sectoin container">

        <div class="why_choose_left">
            <img src="/img/whychooseus.png" alt="">
        </div>

        <div class="why_choose_right ">


            <div class="services_paragraph">
                <h2 class="heading">Why Choose Us</h2>
            </div>
            <h3>We Strongly Believe <br> Customers are the Key</h3>
            <p>From the moment customers access our website, we strive to provide them with a seamless and user-friendly experience. We understand that searching for the perfect room can be a significant decision, and we aim to make the process as smooth as possible. Our website is designed with their convenience in mind, featuring intuitive navigation, robust and comprehensive room listings to cater to their diverse preferences.</p>
        </div>

    </section>













    {{!-- *************grow sectioin************* --}}

    <section class="grow_section">


        <div class="services_sectionnnnnnn container">


            <div class="services_paragraph growcirlcradius">
                <h2 class="heading">Our Work Process</h2>
            </div>

            <div class="heading services_paragraph">

                <div class="curve_arrow">
                    {{!-- <img src="/img/curvearrow.png" alt=""> --}}
                    <img src="/img/dotdotarrow2.png" alt="">
                </div>

                <div class="content growHeading">
                    <h4>We Priorities every <span class="services_Span">Work Steps</span> Equally </h4>

                    <p>Hamro Rooms website is a comprehensive platform dedicated to simplifying the process of finding <br> the perfect room for individuals With a user-friendly interface. </p>
                </div>
            </div>
        </div>
        {{!-- grow card and grow background section --}}

        <div class="growthImgparents ">

            <div class="container growcardflex">


                <div class="grow_card card1">
                    <img src="/img/growth1.png" alt="">
                    <div class="card_content">
                        <h3>Step One</h3>
                        <p>Define your requirements: Begin by clearly defining your requirements for the room you are seeking. </p>
                    </div>
                </div>

                <div class="grow_card card2">
                    <img src="/img/growth2.png" alt="">
                    <div class="card_content">
                        <h3>Step Two</h3>
                        <p>Explore and search: Use the search and navigation features provided on the harmonious room finder website to explore and search for available rooms. </p>
                    </div>
                </div>

                <div class="grow_card card3">
                    <img src="/img/growth3.png" alt="">
                    <div class="card_content">
                        <h3>Step Three</h3>
                        <p>Compare and make a decision: Once you have a list of potential rooms, take the time to compare them based on your requirements. </p>
                    </div>
                </div>

            </div>


        </div>


    </section>

    {{!-- *****************footer section***************** --}}

    <div class="mainfooter">



        <footer class="footer_section container">

            <div class="footerbg">

                <div class="left_footer">
                    <h3>Logo</h3>
                    <p> <i class="fa-solid fa-location-dot"></i>Kathmandu - Kamalpokhari</p>
                    <p> <i class="fa-solid fa-envelope"></i> sharmasuneel697@gmail.com</p>
                    <p> <i class="fa-solid fa-phone"></i>+977 9807865665</p>

                </div>

                <div class="right_footer">

                    <div class="right_footer_child1">
                        <h3>Useful Links</h3>
                        <ul class="footerNavbar">
                            <li><a href="">about us</a></li>
                            <li><a href="">services</a></li>
                            <li><a href="">our team</a></li>
                            <li><a href="">contact us</a></li>
                        </ul>
                    </div>

                    <div class="right_footer_child2">
                        <h3>support</h3>
                        <ul>
                            <li><a href="">customer care</a></li>
                            <li><a href="">suport team</a></li>
                            <li><a href="">Privacy policy</a></li>
                            <li><a href="">FAQ support</a></li>

                        </ul>
                    </div>

                    {{!-- <div class="right_footer_child3">
                        <h3>support</h3>
                        <ul>
                            <li><a href=""></a></li>
                        </ul>
                    </div> --}}

                </div>


            </div>

        </footer>

        <hr class="hr">

        <div class="copyright">
            <div class="copyright_content">
                <h3> Copyright &copy; 2023 <span class="harmorooms">Hamro Rooms</span>, All Rights Reserved || Design &
                    Created By 💔 <span class="suniel">Suniel Sharma</span>.</h3>
            </div>

            <div class="social_icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-whatsapp"></i>
            </div>

        </div>




    </div>
























    <div class="testing"></div>


    <script src="/javascript/index.js"></script>



</body>

</html>