
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
     <link rel="stylesheet" href="/CSS/register.css" />
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/mediaQueries.css">
</head>
<body>


    {{>navbar}}

    <form action="/register" method="post" class="signup">
      <h3 class="heading tracking-in-expand">Create a new account </h3>
          <p class="msg">{{message}}</p>
          <p class="emailMsg">{{emailMsg}}</p>

      <input type="text" name="name" id="" placeholder="Enter your Name"/>
      <input type="email" name="email" id="" placeholder="Enter your Email"/>
      <input type="password" name="password" id="" placeholder="Enter your Password"/>
      <input type="password" name="confPassword" id="" placeholder="Enter your ConfPassword"/>
      <input type="number" name="phone" id="" placeholder="Enter your Phone"/>
      <button class="btn_signup">Signup</button>
        <h4 class="alreadyAccount">Already have an Account ?<a href="/login">Login</a></h4>
       
        </form>




        <script src="/javascript/index.js"></script>
   
</body>
</html>