<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rooms</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/roomslist.css">
</head>
<body>
    {{>navbar}}


    
   <main class="room_list container">

    {{#each roomListData}}

   


    <div class="rooms">
        {{!-- <img src="/img/roomsimg.jpg" alt="image"> --}}
        <img src="{{this.roomImage}}" alt="image">
        <div class="topbanner">
            <h4>For Rent</h4>
        </div>
       <div class="roomdetails">
       
         <h4>{{this.address}}</h4>
         <h4>{{this.city}}</h4>
         <h4>Rent Rs.{{this.rent}}</h4>
       </div>
    </div>

    {{/each}}


 
    
    
 

   </main>
    

</body>
</html>