<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rooms</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/roomslist.css">
</head>
<body>
    {{>navbar}}
    
    <main class="main_section">
        <h3>welcome to the harmo rooms hub </h3>

    </main>

    <section class="rooms container">

        <div class="rooms_card">
            <img src="/img/roomsimg.jpg" alt="">
            <h3>headingcontent</h3>
            <p>paragraph</p>
        </div>
        <div class="rooms_card">
            <img src="/img/roomsimg.jpg" alt="">
            <h3>headingcontent</h3>
            <p>paragraph</p>
        </div>
        <div class="rooms_card">
            <img src="/img/roomsimg.jpg" alt="">
            <h3>headingcontent</h3>
            <p>paragraph</p>
        </div>

    </section>

</body>
</html>