<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rooms</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/roomslist.css">
    <link rel="stylesheet" href="/CSS/mediaQueries.css">

    <link rel="stylesheet" href="/CSS/searchbar.css">


</head>


<body>

    {{>navbar}}

    {{!-- searchbar --}}
    
    <div class="search-container">
        <input id="searchInput" type="text" class="search-input" placeholder="Search Your City...">
        <button onclick="searchData()" class="search-button">Search</button>
    </div>


        <div id="searchModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div id="searchResults"></div>
        </div>
    </div>


    {{!-- /////////////////////////////////************************/////////////////////////////// --}}


    

    {{!-- roomlist  --}}
    <main class="room_list roomContainer">
        {{#each roomListData}}
        <div class="rooms">
            <img src="/roomImage/{{this.roomImage}}" alt="image">
            <div class="topbanner">
                <h3>For Rent</h3>
            </div>
            <div class="roomdetails">
                <h4>Address: {{this.address}}</h4>
                <h4>City: {{this.city}}</h4>
            </div>
            <h4 class="rent">Rent Rs.{{this.rent}}</h4>
        </div>
        {{/each}}



    </main>



    {{!-- <div class="testing"></div> --}}







    <script src="/javascript/index.js"></script>
    <script src="/javascript/searchbar.js"></script>






</body>

</html>