<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roomowner</title>
</head>
<body>

    <main class="main_section">
        <h2>welcome to the room owner dashbard</h2>

        <form action="/roomowner" method="post">
        <p>Address:</p>
        <input type="text" name="address" id="" placeholder="Kathmandu">
        <p>City</p>
        <input type="text" name="city" id="" placeholder="Kirtipur">
        <p>Rent</p>
        <input type="number" name="rent" id="" placeholder="5000">
        <p>Phone No.</p>
        <input type="number" name="phone" id="" placeholder="9807865665">
        <p>Room Image Url</p>
        <input type="text" name="roomImage" id="" placeholder="room.jpg">
        <button type="submit">Submit</button>        

        </form>

    </main>

</body>
</html>