@media screen and (max-width : 1400px){
    .circleimg img{
        width: 21%;
        margin-top: 1px;
    }
    .main_header .left_header h1 {
        font-size: 45px;
        width: 405px;
    }

    .left_header{
        margin-top: -25px;
    }
    .circleimg .head_Para {
        margin-left: -115px;
    }

    .right_header img {
        position: relative;
        top: 0px;
        width: 80%;
    }

    .btn button {
        padding: 17px 32px;
        font-size: 16px;
        margin-left: -84px;
        margin-bottom: 34px;
    }
    .vdoicon img{
        width: 64px;
    }
    .vdoicon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 29px; 
    }
    .vdoicon p{
        margin-bottom: 24px;
    }

    .middele_header img{
        position: relative;
       top: -150px;
        left: 134px;
    }

    /* our services section */

    .services_section{
        margin-top: 55px;
    }




    .halfcirlcle img{
    margin-left: -150px;
     }

    }

/* media queries for 950px */

@media screen and (max-width: 950px){

    .left_header {
        margin-top: -26px;
        margin-left: 50px;
    }

    .main_header .left_header h1 {
        font-size: 39px;
        width: 391px;
    }

    .circleimg .head_Para {
        margin-left: -86px;
    }

    .right_header img {
        position: relative;
        top: -72px;
        width: 85%;
        left: 138px;
    }

    .btn button {
        padding: 13px 19px;
        font-size: 16px;
        margin-left: -41px;
        margin-bottom: 42px;
    }

    /* services section for 950px */

    .services_section {
        margin-top: 174px;
    }
    .content h4{
        font-size: 30px;
        margin-top: 34px;
    }
/* 
    .cards {
        /* display: grid;
        grid-template-columns: repeat(3,1fr); */

        /* display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        height: 466px;
        margin-top: 49px;
    } */ */



}



